<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.mapper.BillMapper">
    <resultMap id="BaseResultMap" type="com.shop.domain.Bill">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="uid" jdbcType="INTEGER" property="uid"/>
        <result column="pid" jdbcType="INTEGER" property="pid"/>
        <result column="money" jdbcType="BIGINT" property="money"/>
        <result column="bill_date" jdbcType="TIMESTAMP" property="billDate"/>
        <result column="bill_status" jdbcType="CHAR" property="billStatus"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, uid, pid, money, bill_date, bill_status
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bill
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectByUid" parameterType="integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bill
        where uid = #{uid}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from bill
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.shop.domain.Bill">
    insert into bill (id, uid, pid, 
      money, bill_date, bill_status
      )
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{pid,jdbcType=INTEGER}, 
      #{money,jdbcType=BIGINT}, #{billDate,jdbcType=TIMESTAMP}, #{billStatus,jdbcType=CHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.shop.domain.Bill">
        insert into bill
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="uid != null">
                uid,
            </if>
            <if test="pid != null">
                pid,
            </if>
            <if test="money != null">
                money,
            </if>
            <if test="billDate != null">
                bill_date,
            </if>
            <if test="billStatus != null">
                bill_status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="uid != null">
                #{uid,jdbcType=INTEGER},
            </if>
            <if test="pid != null">
                #{pid,jdbcType=INTEGER},
            </if>
            <if test="money != null">
                #{money,jdbcType=BIGINT},
            </if>
            <if test="billDate != null">
                #{billDate,jdbcType=TIMESTAMP},
            </if>
            <if test="billStatus != null">
                #{billStatus,jdbcType=CHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.shop.domain.Bill">
        update bill
        <set>
            <if test="uid != null">
                uid = #{uid,jdbcType=INTEGER},
            </if>
            <if test="pid != null">
                pid = #{pid,jdbcType=INTEGER},
            </if>
            <if test="money != null">
                money = #{money,jdbcType=BIGINT},
            </if>
            <if test="billDate != null">
                bill_date = #{billDate,jdbcType=TIMESTAMP},
            </if>
            <if test="billStatus != null">
                bill_status = #{billStatus,jdbcType=CHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.shop.domain.Bill">
    update bill
    set uid = #{uid,jdbcType=INTEGER},
      pid = #{pid,jdbcType=INTEGER},
      money = #{money,jdbcType=BIGINT},
      bill_date = #{billDate,jdbcType=TIMESTAMP},
      bill_status = #{billStatus,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <update id="updateByStatus">
      UPDATE bill b
      INNER JOIN product p
      ON b.pid = p.id
      SET b.bill_status = #{statu},p.repertory = p.repertory +1
      WHERE b.bill_status = 0 AND TIMESTAMPDIFF(MINUTE ,b.bill_date,NOW()) <![CDATA[ >= ]]> #{diff}
  </update>
</mapper>